.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-button {
    padding: 1px;
    margin: 10px;
}

.score-container {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.blink-winner {
    animation: blinker 1s linear infinite;
}

.blink-winner > p {
    text-align: center;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}